.app-wrapper {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 1fr 5fr;
}

.app-wrapper-content {
    /* background-color: coral; */
}